* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat", sans-serif;
}


/*logo*/
.logo {
    position: absolute;
    width: auto;
    height: auto;
    max-height: 82px;
    max-width: 300px;
    margin-left: 40px;
}


/* Main stylin */

html,
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

a {
    color: #333;
    text-decoration: none;
}

h1,
h2,
h3 {
    padding-bottom: 20px;
}


/* navbar */

#navbar {
    background: #333;
    color: #fff;
    overflow: auto;
}

#navbar a {
    color: #fff;
}

#navbar h1 {
    float: left;
    padding-top: 20px;
}

#navbar ul {
    list-style: none;
    float: right;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
    background: #444;
    color: #f7c08a;
}


/*parite home*/

.homeTitle {
    color: rgb(230, 186, 104);
    opacity: 0.9;
    font-size: 90px;
    text-align: center;
    margin-top: -400px;
    font-family: 'Permanent Marker', cursive;
}

.background {
    background-image: url(../img/work.jpg);
    opacity: .7;
    width: 100%;
    height: 594px;
    background-size: cover;
}

.buttonAtt {
    color: #a39193;
    font-size: 24px;
    padding: 16px 40px;
    opacity: .9;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    margin-left: 520px;
    margin-top: 180px;
    border-radius: 30px;
    border: none;
}

.buttonAtt:hover {
    background-color: wheat;
    color: #66545e;
    transition: 0.5s all ease-in linear;
    cursor: pointer;
}


/*section service*/

.inner-width {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    overflow: hidden;
}


/*Section*/

section {
    background: url("../img/bg.jpg");
    height: 700px;
    margin-top: 108px;
}

.section-title {
    text-align: center;
    color: #ddd;
    text-transform: uppercase;
    font-size: 30px;
    position: relative;
    top: 20px;
}

.border {
    width: 160px;
    height: 2px;
    background: #daa22b;
    margin: 40px auto;
}

.containner{
   display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-box {
    max-width: 33.33%;
    padding: 10px;
    text-align: center;
    color: #ddd;
    cursor: pointer;
    margin-bottom: 20px;
}

.service-icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 3px solid #daa22b;
    border-radius: 100%;
    color: #fff;
    margin-bottom: 30px;
    margin-top: 16px;
    transition: 0.7s linear;
}

.fas,
.fab {
    padding-top: 20px;
}

.service-icon:hover {
    background: #daa22b;
    color: #ddd;
}

.section-title {
    text-align: center;
    color: #ddd;
    text-transform: uppercase;
    font-size: 30px;
    position: relative;
    top: 20px;
}



/*2éme section*/

.title {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: normal;
    margin-top: 80px;
    margin-bottom: 40px;
}

.pictures {
    display: flex;
    justify-content: center;
}

.profil {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picture {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.picture-1 {
    background-image: url(https://www.clipartwiki.com/clipimg/detail/151-1512275_business-women-png-business-woman-png-hd.png);
}

.picture-2 {
    background-image: url(https://media.istockphoto.com/photos/portrait-of-smiling-handsome-man-in-blue-tshirt-standing-with-crossed-picture-id1045886560?k=6&m=1045886560&s=612x612&w=0&h=hXrxai1QKrfdqWdORI4TZ-M0ceCVakt4o6532vHaS3I=);
}

.picture-3 {
    background-image: url(https://image.shutterstock.com/image-photo/casually-handsome-confident-young-man-260nw-439433326.jpg);
    background-position-x: center;
    background-position-y: 20px;
}

.picture-4 {
    background-image: url(https://img.freepik.com/free-photo/handsome-young-businessman-shirt-eyeglasses_85574-6228.jpg?size=626&ext=jpg);
}

.picture-5 {
    background-image: url(https://media.istockphoto.com/photos/happy-laughing-man-picture-id544358212?k=6&m=544358212&s=612x612&w=0&h=odURMNz2hty8LIfpVahaaUKpGU4vd-UlZx4jy-OAnJA=);
}

.name {
    font-size: 23px;
    color: #daa22b;
    margin-top: 30px;
}


/* Utility Classes */

.container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}

.text-primary {
    color: #f7c08a;
}

.lead {
    font-size: 20px;
}

.btn {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background: #333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background: #f7c08a;
    color: #333;
}

.btn-light {
    background: #f4f4f4;
    color: #333;
}

.bg-dark {
    background: #333;
    color: #fff;
}

.bg-light {
    background: #f4f4f4;
    color: #333;
}

.bg-primary {
    background: #f7c08a;
    color: #333;
}

.clr {
    clear: both;
}

.l-heading {
    font-size: 40px;
}


/* Padding */

.py-1 {
    padding: 10px 0;
}

.py-2 {
    padding: 20px 0;
}

.py-3 {
    padding: 30px 0;
}
.py-4{
    margin-top:-20px;
}


/* about-info */

#about-info .info-right {
    float: right;
    width: 50%;
    min-height: 100%;
}

#about-info .info-right img {
    display: block;
    margin: auto;
    width: 70%;
    border-radius: 50%;
}

#about-info .info-left {
    float: left;
    width: 50%;
    min-height: 100%;
}


/* Testimonials */

#testimonials {
    height: 600px;
    background: url('../img/test-bg2.jpg') no-repeat center center/cover;
    padding-top: 100px;
}

#testimonials h2 {
    color: #fff;
    text-align: center;
    padding-bottom: 40px;
}

#testimonials .testimonial {
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
    opacity: 0.9;
}

#testimonials .testimonial img {
    width: 100px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}


/* Footer */

#main-footer {
    text-align: center;
    background: #444;
    color: #fff;
    padding: 20px;
}


/* FOOTER HOME PAGE*/

footer {
    background-color: black;
    font-size: 20px;
    height: 230px;
    padding-top: 35px;
    padding-left: 90px;
    color: white;
    font-family: "montserrat", sans-serif;
}

.flex {
    display: flex;
    line-height: 2;
}

.contact {
    margin-left: 30px;
}

.flex2 {
    float: right;
    padding-right: 90px;
}

.space {
    margin-left: 20px;
}
/*form contact */
#content{
    width: 60%;
    margin: 50px auto;
}
#contentcontact{
    display: flex;
    margin: 0px auto;
}
input{
    width: 300px;
    height: 35px;
    border-color: #c6c6c6 ;
    border-radius: 20px;
    font-size: 18px;
    padding: 5px;
}
input:active{
    border: 0px;
}
textarea{
    max-width:300px;
    max-height: 300px;
    min-width: 300px;
    min-height: 200px;
    font-size: 18px;
    padding: 5px;
    border-color: #c6c6c6 ;
    border-radius: 20px;
    font-size: 18px;
    padding: 5px;
    border: 2px;
}
#maps{
    width: 400px;
}
#imagdiv{
    display:inline-block;
    margin-left: 50px;
}
h4{
    margin-top: 20px;
}
.btn{
    width: 300px;
    height: 40px;
    color: #f7c08a;
    font-size: 20px;
    background-color: #333;
    border-radius: 10px;
    margin-top: 20px;
    border-color: #f7c08a;
}
.btn:hover{
    background-color: #f7c08a;
    color: #333;
}
.boody{
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
    margin: 0px;
    padding: 0px;
    background-image: url("../img/back.jpg");
    background-size: cover;
}